<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RASPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RASPortal.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index"><img alt="asd" style="width: 100px; height: 32px;"
                                                             src="~/Source/Portal.png"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                           asp-action="Privacy">Gizlilik</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Event"
                           asp-action="Index">Etkinlikler</a>
                    </li>

                </ul>
                <ul class="navbar-nav flex-grow-1 justify-content-lg-end mx-3">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Giriş
                            yap</a>
                    </li>

                    <li class="nav-item mx-1">
                        <a class="nav-link text-dark">
                            <img alt="asd" style="width: 32px; height: 32px;"
                                 src="~/Source/profile-user.png"/></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-white py-2 px-3" style="background-color: #d93a44">
            <div style="align-items: center; justify-content: center; display: flex">
                <h1 class="m-3" style="letter-spacing: 10px;">ETKİNLİKLER</h1>
            </div>
            <div class="mb-3" style="align-items: center; justify-content: center; display: flex">
                <a class="btn text-white mx-3" asp-action="PastEvents">Geçmiş Etkinlikler</a>
                <a class="btn text-white mx-3" asp-action="UpcomingEvents">Gelecek Etkinlikler</a>
                <a class="btn text-white mx-3" asp-action="Index">Tüm Etkinlikler</a>
            </div>
        </div>
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - RASPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>